h1{
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.img_centro{
    margin: auto;
    display: block;
    width: 30%;
    border-radius: 12px;
}
.img_centro01{
    display: flex;
    justify-content: center;
    margin: auto;
}